---
// import { Counter } from "@/components/Counter";
import MainLayout from "@/layouts/MainLayout.astro";
import { FavoriteList } from "./FavoriteList";

const CounterValue = 1;
---

<MainLayout title="Favorites">
  <img src="/Marvel_Logo.svg" alt="Marvel Logo" class="w-48 mx-auto my-6" />

  <h1 class="text-3xl mb-10 text-center uppercase font-extrabold">
    My Favorite Characters
  </h1>

  <section aria-label="list of favorite characters">
    <FavoriteList client:only="solid-js" />

    <!-- <Counter
      transition:persist="counter"
      transition:persist-props
      client:load
      initValue={CounterValue}
    /> -->
  </section>
</MainLayout>
